.container {
  border: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  align-items: center;
}

.box {
  flex-basis: 10rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1 1 10rem;
  width: 5rem;
  height: 5rem;
  background-color: brown;
  margin: 1rem;
}

.box-one {
  flex-basis: 5rem;
}
