html {
  font-size: 62.5%;
}

body {
  width: 100%;
  padding: 2rem;
  background: #2a2138;
}

.icon {
  font-size: 2rem;
  color: aliceblue;
}

.items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.items:hover{
  background-color: #221a2e;
}

@media screen and (max-width: 750px) {
  body {
    width: 20%;
    height: 100vh;
  }
}
